apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../base
patchesStrategicMerge:
- vote_staging_deployment.yaml
- vote_services.yaml
replicas:
- name: vote
  count: 7 
images:
- name: schoolofdevops/vote:v3
  newTag: v8
commonLabels:
  project: instavote
  env: staging
commonAnnotations:
  supported-by: "8378185 Inc"
configMapGenerator:
- name: vote-options
  envs:
  - options.env
